<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание заявки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
</head>
<body>
<div th:replace="header :: header"/>
<div class="container">
    <h1>Заявка на перевод денежных средств</h1>
    <form action="/transfer" method="post">
        <input type="text" name="surname" placeholder="Введите фамилию отправителя" class="form-control"><br>
        <input type="text" name="name" placeholder="Введите имя отправителя" class="form-control"><br>
        <input type="text" name="patronymic" placeholder="Введите отчество отправителя" class="form-control"><br>
        <p th:text="${message}"/>
        <input type="text" name="acc" placeholder="Номер счёта отправителя" class="form-control"><br>
        <input type="text" name="region" placeholder="Введите регион" class="form-control"><br>
        <input type="text" name="surnameR" placeholder="Введите фамилию получателя" class="form-control"><br>
        <input type="text" name="nameR" placeholder="Введите имя получателя" class="form-control"><br>
        <input type="text" name="patronymicR" placeholder="Введите отчество получателя" class="form-control"><br>
        <input type="text" name="accRec" placeholder="Номер счёта получателя" class="form-control"><br>
        <input type="text" name="sum" placeholder="Введите сумму перевода" class="form-control"><br>

        <button type="submit">Создать заявку</button>
    </form>
    <div th:each="er : ${error}">
        <p th:text="${er.status}"/>
    </div>
</div>
</body>
</html>